<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_ip</key>
	<string>http://192.168.0.121/</string>
	<key>nt_exchange</key>
	<string>Globex</string>
	<key>nt_commission</key>
	<real>1.6</real>
	<key>simulate_time_passage</key>
	<false/>
	<key>no_entry_during_lunch</key>
	<true/>
	<key>bypass_trading_time_restrictions</key>
	<false/>
	<key>max_daily_loss</key>
	<real>-50</real>
	<key>position_size</key>
	<integer>1</integer>
	<key>ticker_value</key>
	<integer>20</integer>
	<key>trading_start</key>
	<date>2020-03-09T13:30:00Z</date>
	<key>trading_end</key>
	<date>2020-03-09T19:55:00Z</date>
	<key>high_risk_start</key>
	<date>2020-03-09T13:30:00Z</date>
	<key>high_risk_end</key>
	<date>2020-03-09T13:55:00Z</date>
	<key>lunch_start</key>
	<date>2020-03-09T16:00:00Z</date>
	<key>lunch_end</key>
	<date>2020-03-09T17:50:00Z</date>
	<key>clear_time</key>
	<date>2020-03-09T19:59:00Z</date>
	<key>flat_time</key>
	<date>2020-03-09T20:05:00Z</date>
	<key>take_profit_bar_length</key>
	<integer>25</integer>
	<key>enter_on_pullback</key>
	<integer>20</integer>
	<key>skip_green_bars_exit</key>
	<integer>30</integer>
	<key>green_bars_exit</key>
	<integer>10</integer>
	<key>sweet_spot_min_distance</key>
	<integer>3</integer>
	<key>min_stop</key>
	<integer>5</integer>
	<key>max_risk</key>
	<integer>10</integer>
	<key>risk_multiplier</key>
	<integer>1</integer>
	<key>max_high_risk_entry_allowed</key>
	<integer>1</integer>
</dict>
</plist>
